<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>
            1.单向绑定：单向数据变化，视图更新
            双向绑定：视图更新也会影响数据变化
        </p>
        <input type="text" :value="inputValue" @input="e => inputValue = e.target.value">
        <p>v-model 是 @input 和 :value的一个语法糖(结合)</p>
        <input type="text" v-model="inputValue">
        {{ inputValue }}

        <p>2.vue中使用双向绑定的标签还有select, radio, checkbox</p>

        <p>select</p>
        <select v-model="selectValue">
            <option value="0" disabled>请选择</option>
            <option v-for="(item, index) in selectLists" :value="item.id">{{ item.value }}</option>
        </select>
        {{ selectValue }}

        <p>radio 可以根据v-model来进行分组，不用像以前的radio标签一样指定同一name属性来分组</p>
        男: <input type="radio" value="男" v-model="radioValue" />
        女: <input type="radio" value="女" v-model="radioValue" >

        <p>checkbox</p>
        游泳: <input type="checkbox" value="游泳" v-model="checkboxValues">
        健身: <input type="checkbox" value="健身" v-model="checkboxValues">
        {{ checkboxValues }}

        <p>3.v-model可以有修饰符，来进行数据的处理</p>

        <p>v-model.number中number为修饰符，将数据转成number类型</p>
        <input type="text" v-model.number="numberValue"> {{ typeof numberValue}}
        <p>v-model.trim中trim为修饰符，去掉数据中的前后空格</p>
        <input type="text" v-model.trim="trimValue"> {{ trimValue }}

        <p>4. 键盘事件，鼠标事件等有相应的修饰符。在输入框按下enter键试试</p>
        <input type="text" @keyup.enter="keyUpHandle">
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    
    <script>
    let vm = new Vue({
        el: '#app',
        data: {
            inputValue: '双向绑定',
            selectValue: 3,
            selectLists: [
                { value: '菜单1', id: 1 },
                { value: '菜单2', id: 2 },
                { value: '菜单3', id: 3 }
            ],
            radioValue: '男',
            checkboxValues: [],
            numberValue: '1',
            trimValue: '  前面本来有空格哦'
        },
        methods: {
            keyUpHandle() {
                alert('按下了enter键')
            }
        }
    })
    </script>
</body>
</html>